:root {
	/* Colors */
	--transparent: rgba(0, 0, 0, 0);
	--white: rgb(255, 255, 255);
    --pink: rgb(255, 213, 209);
    --pink-dark: rgb(248, 186, 180);
    --green: rgb(128, 210, 205);
    --green-transparent: rgba(128, 210, 205, 0.5);
	--green-dark: rgb(28, 138, 130);
	--turquoise: rgb(2, 178, 189);
    --black: rgb(13, 10, 20);

	/* Website */
	--background-color: var(--black);
	--background-color-gradient: linear-gradient(var(--green-transparent), var(--transparent));
	--text-color: var(--white);
	--tab-color: var(--white);
	--tab-active: var(--pink);
	--tab-hover: var(--pink-dark);
	--header-background: var(--transparent);
	--scrollbar-color: var(--green-dark);
	--scrollbar-background: var(--transparent);
	--lang-select-toggle-color: var(--pink);
	--lang-select-toggle-hover: var(--pink-dark);
	/* period */
	--period-title-color: var(--turquoise);
	--period-info-color: var(--white);
	--period-description-color: var(--pink);

	/* sizes */
	--header-height: 55px;
	--marge-size: 200px;

	/* scrollbar-settings */
	--scrollbar-width: 12px;
	--scrollbar-border-radius: 10px;
	--scrollbar-color-all: var(--scrollbar-color) var(--scrollbar-background);
    --scrollbar-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    --scrollbar-border: 1px solid var(--scrollbar-color);

}
