header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--header-background);
	height: var(--header-height);
}

header {
	padding-top: 15px;
}

header nav a {
	text-decoration: none;
	color: var(--tab-color);
	font-size: large;
}

header nav a.active-tab {
	color: var(--tab-active);
}

header nav a:hover {
	color: var(--tab-hover);
}
