header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--green);
	height: var(--header-height);
}

header {
	padding-top: 15px;
}

header nav a {
	text-decoration: none;
	color: var(--white);
}

header nav a.active-tab {
	color: var(--pink);
}
header nav a:hover {
	color: var(--pink);
}

/* form {
	position: fixed;
	top: 0;
	right: 0;
} */