html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--background-color);
	background-image: var(--background-color-gradient);
	color: var(--text-color);
}

main {
	margin-top: var(--header-height);
	overflow-x: auto;
}

article {
	width: 100%;
	height: 100%;
	padding-top: 0;
	padding-left: var(--marge-size);
	padding-right: var(--marge-size);
}

/* @media screen and (max-width:900px) {
	.character {
		position: fixed;
		cursor: move;
		z-index: 1;
	}
} */

.scrollbar {
    scrollbar-color: var(--scrollbar-color-all);
}
.scrollbar::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: var(--scrollbar-background);
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--scrollbar-shadow);
    background-color: var(--scrollbar-background);
    border-radius: var(--scrollbar-border-radius);
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-border-radius);
    -webkit-box-shadow: var(--scrollbar-shadow);
    background-color: var(--scrollbar-color);
}
.bordered::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: var(--scrollbar-border);
}
.bordered::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}
