.period-title {
    color: var(--period-title-color);
}
.period-info {
    color: var(--period-info-color);
}
.period-description {
    color: var(--period-description-color);
}

.period-block {
    margin-top: 30px;
    margin-bottom: 30px;
}